* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.font-weight500 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.font-size20 {
  font-size: 20px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

li {
  color: #6d6d6d;
}

a {
  text-decoration: none;
}

h2 {
  color: #fff;
}

.flex {
  display: flex;
}

/* /UTILITIES */

/* COLORS */
.white {
  color: #fff;
}

.lightgrey {
  color: #7d7f84;
}

.text-color {
  color: #6d6d6d;
}

.darkgrey {
  background-color: #282828;
}

.darkblue {
  background-color: #141922;
}

.black {
  background-color: #000;
}

/* /COLORS */
main {
  height: calc(100vh - 75px);
}

/* side-bar */
aside {
  width: 150px;
  height: calc(100vh - 75px);
  flex-direction: column;
  padding: 3px 3px;
}

.logo > img {
  width: 100px;
}

.side-section {
  background-color: blue;
  margin: 2px 0;
}

.playlist {
  overflow-y: auto;
}

.login {
  margin-top: auto;
}
/* /side-bar */
/* upgrade-bar */
.upgrade-bar {
  position: fixed;
  top: 0;
  left: 150px;
  right: 0;
  height: 65px;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
}

.upgrade-bar > a {
  margin-right: 5px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 10px;
}
/* upgrade-bar */
/* scrollsection */
.scroll-section {
  width: calc(100vw - 150px);
  height: calc(100vh - 75px);
  overflow-y: auto;
}

.album-container {
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(100% / 6 - 30px);
  margin: 0 15px;
}

.card > img {
  width: 100%;
}

/* /scrollsection */

/* footer */
footer {
  height: 75px;
}
/* footer */
